<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapFolio</title>
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="/styles/upload.css">
</head>
<body>
    {{>navbar}}
    <div class="heading">
      <h2>Upload Post</span></h2>
      <img src="/logo.png" alt="" />
    </div>
     <div class="upload-container">
        <h1 class="upload-title">Add your photo</h1>
        <form action="/uploadpic" method="POST" enctype="multipart/form-data" class="upload-form">
         <div class="upload-file-container">
            <label for="post-image" class="upload-label">Image:</label>
                <input type="file" id="post-image" name="image" accept="image/*" class="upload-file" required>
                {{!-- <i class="fas fa-cloud-upload-alt upload-file-icon"></i> --}}
            </div>

         <label for="post-content" class="upload-label">Caption:</label>
         <textarea id="post-content" name="caption" rows="3" class="upload-textarea" required></textarea>


            <label for="post-title" class="upload-label">Title:</label>
            <input type="text" id="post-title" name="title" class="upload-input" required>

           
            
           
            <button type="submit" class="upload-button">Upload</button>
        </form>
    </div>
</body>
</html>