.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 85px;
  background-color: #fff;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.heading h2 {
  padding: 30px;
}

.heading img {
  width: 250px;
  padding: 20px;
  margin-top: 20px;
}

.container {
  height: 80vh;
  width: fit-content;
  max-width: 90vw;
  margin: 25px auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.6);
}

.partition {
  /* width: 50%; */
  height: 100%;
}

.p1 {
  min-width: 40%;
  max-width: 80%;
  box-sizing: border-box;
}

.p1 img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

.p2 {
  min-width: 250px;
  max-width: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.postDetails {
  /* height: 20%; */
  margin-bottom: 9px;
}

.postDetails :last-child{
  text-align: right;
  align-self: flex-end;
  font-weight: 500;
  font-style: italic;
}

.features{
  display: flex;
  justify-content: space-around;
}
.commentSection {
  height: 70%;
  overflow-y:scroll;
  scrollbar-width: none;
}

.commentSection p{
  padding: 2px;

}

.commentSection p span{
  background-color: rgb(119, 177, 177);
  border-radius: 50px;
  padding: 1px 6px;
}

.ruler {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #a8a2a2;
  margin: 5px 0;
}
.commentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: flex-end;
  height: 10%;
  bottom: 0;
}

#newComment {
  border-radius: 50px;
  border: 1px solid gray;
  outline: none;
  padding: 4px 8px;
  min-width: 300px;
}

.commentBox button {
  border-radius: 50px;
  outline: none;
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
}

.commentBox button:hover{
  cursor: pointer;
}