
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

body{
  background-image: url('/background.jpg'); 
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: clip;
}


.container {
    height: 80vh;
    width: 60vw;
    margin: 50px auto;
    background-color: #add8e6;
    display: flex;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.6);
  }
  
  .partition {
    width: 50%;
    height: 100%;
  }
  
  .p1{
    /* background-color: pink; */
    box-sizing: border-box;
    background-image: url("../signup.png");
    background-position: center;
    background-size: cover;
  }
  
  .p2 {
    /* background-color: pink; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }
  
  .logo {
    width: 230px;
  }
  
  .form {
    height: 40%;
    width: 70%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .inputfield {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    outline: none;
  }
  
  .signupbtn {
    width: 100%;
    padding: 6px;
    margin-top: 15px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  

  
