.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 85px;
    background-color: #fff;
    border-radius: 0px 0px 40px 40px;
}

.heading h2{
    padding: 30px;
}

.heading img{
    width: 250px;
    padding: 20px;
    margin-top: 20px;
}

/* Styles for upload container */
.upload-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

/* Styles for form elements */
.upload-label {
    display: block;
    margin-bottom: 5px;
}

.upload-input,
.upload-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Improved styles for image upload input */
.upload-file-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.upload-file {
    width: 100%;
    padding: 15px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    transition: border-color 0.3s;
}

.upload-file:hover {
    border-color: #007bff;
}

.upload-file-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #aaa;
    transition: color 0.3s;
}

.upload-file:hover .upload-file-icon {
    color: #007bff;
}

.upload-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #0056b3;
}