.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 85px;
    background-color: #fff;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.heading h2{
    padding: 30px;
}

.heading img{
    width: 250px;
    padding: 20px;
    margin-top: 20px;
}

/* Styles for upload container */
.upload-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

/* Styles for form elements */
.upload-label {
    display: block;
    margin-bottom: 5px;
}

.upload-input,
.upload-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Improved styles for image upload input */
.upload-file-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.upload-file {
    width: 100%;
    padding: 15px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    transition: border-color 0.3s;
}

.upload-file:hover {
    border-color: #007bff;
}

.upload-file-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #aaa;
    transition: color 0.3s;
}

.upload-file:hover .upload-file-icon {
    color: #007bff;
}

.upload-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #0056b3;
}

/* checkboxes testing */

.checkbox-wrapper-16 {
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    /* margin: 15px; */
}

.checkbox-wrapper-16 .checkbox-input {
clip: rect(0 0 0 0);
-webkit-clip-path: inset(100%);
clip-path: inset(100%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
border-color: #2260ff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
color: #2260ff;
}



.checkbox-wrapper-16 .checkbox-tile {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* width: 7rem; */
padding: 2px 10px;
margin: 4px;
min-height: 2rem;
border-radius: 50px;
border: 2px solid #b5bfd9;
background-color: #fff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
transition: 0.15s ease;
cursor: pointer;
position: relative;
}


.checkbox-wrapper-16 .checkbox-label {
color: #707070;
transition: 0.375s ease;
text-align: center;
}
